{% extends "base.html" %}

{% block title %}Dashboard - SupportDesk{% endblock %}

{% block content %}
<h1>SupportDesk Dashboard</h1>
<p>Welcome to your dashboard. This is where tickets will appear.</p>

<div class="button-group">
    <a href="/create-ticket" class="btn">Create Ticket</a>
    <a href="/" class="btn">Log Out</a>
</div>

<div class="ticket-list">
    {% if tickets %}
    {% for ticket in tickets %}
    <div class="ticket-card">
        <h3>{{ ticket["title"] }}</h3>
        <p><strong>Category:</strong> {{ ticket["category"] }}</p>
        <p><strong>Priority:</strong> {{ ticket["priority"] }}</p>
        <p>
            <strong>Status:</strong>
            <span class="status
                            {% if ticket['status'] == 'Open' %}open{% endif %}
                            {% if ticket['status'] == 'In Progress' %}progress{% endif %}
                            {% if ticket['status'] == 'Resolved' %}resolved{% endif %}
                        ">
                {{ ticket["status"] }}
            </span>
        </p>
        <p><strong>Description:</strong> {{ ticket["description"] }}</p

        <div class="btns">
            <a href="/edit-ticket/{{ ticket['id'] }}" class="btn">Edit</a>
            <a href="/delete-ticket/{{ ticket['id'] }}" class="btn delete-btn" onclick="return confirm('Are you sure you want to delete this ticket?')">Delete</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No tickets submitted yet.</p>
    {% endif %}
</div>
{% endblock %}